<div class="print-preview-container">
  <div class="top-toolbar">
    <div class="export-dropdown">
      <button class="export-button">Export As</button>
      <div class="export-dropdown-content">
        <button (click)="exportDivToHtml()">HTML</button>
        <button (click)="generatePDF()">PDF</button>
        <button (click)="generateReportImage()">Image</button>
        <button styleSheetFile="assets/styleForPrint.css" printSectionId="printable-section" ngxPrint>Print</button>
      </div>
    </div>
    <br>
    <!-- <button styleSheetFile="assets/style.css" printSectionId="printable-section" ngxPrint>Print</button><br> -->
  </div>
  <div class="no-print-prev" *ngIf="!selectedReportId">Open a report to see the print preview for it.</div>
  <div class="report-container" id="printable-section" #exportedDiv *ngIf="selectedReportId">
    <div class="top-section" [ngStyle]="{'background-color': reportCustomization.headerBGColor ? reportCustomization.headerBGColor : '#ffffff'}">
      <!-- Image and title -->
      <div class="image-and-title">
        <img *ngIf="logoDataURL" [src]="logoDataURL" alt="Report Logo" class="report-logo" />
        <h1 style="cursor: pointer;" [ngStyle]="applyStyle(selectedReportId, titleData?.dataID)">
          {{reportTitle}}
        </h1>
      </div>
      <!-- Current date/time -->
      <div class="date-time">
        <p>{{ currentDateTime | date: 'longDate' }}</p>
        <p>{{ currentDateTime | date: 'mediumTime' }}</p>
      </div>
    </div>
    <!-- Body Section -->
    <div *ngIf="tableHeaders.length > 0" class="body-section"
      [ngStyle]="{'background-color': reportCustomization.bodyBGColor ? reportCustomization.bodyBGColor : '#ffffff' ,'padding-top': reportCustomization.tableTopPadding ? reportCustomization.tableTopPadding + 'px' : '50px'}">
      <div class="table-container">
        <!-- Include the table rendering code here -->
        <table class="tbl-data" [ngStyle]="{'border': reportCustomization.tableBorderVisible ? reportCustomization.tableBorderVisible : 'none', 'text-align': reportCustomization.tableDataAlign ? reportCustomization.tableDataAlign : 'left'}">
          <thead>
            <tr>
              <!-- Include table headers here -->
              <th *ngFor="let header of tableHeaders; let z = index"
                [ngStyle]="applyStyle(header.reportID, header.dataID)">
                <div class="table-header">{{ header.cellValue }}</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rowData of tableData; let i = index">
              <script>console.log(rowData);</script>
              <!-- Include table cells here -->
              <td *ngFor="let cell of rowData; let j = index" class="cell-content"
                [ngStyle]="applyStyle(cell.reportID, cell.dataID)" [attr.data-row]="i" [attr.data-col]="j">
                {{ cell.cellValue }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Bottom Section (Footer) -->
    <div class="bottom-section" [ngStyle]="{'background-color': reportCustomization.footerBGColor ? reportCustomization.footerBGColor : '#ffffff'}">
      <!-- Add footer content here if needed -->
      {{footerText}}
    </div>
  </div>
</div>