<div class="print-preview-container">
  <div class="top-toolbar">
    <div class="export-dropdown">
      <button class="export-button">Export As</button>
      <div class="export-dropdown-content">
        <button (click)="exportDivToHtml()">HTML</button>
        <button (click)="generatePDF()">PDF</button>
        <button >Excel</button>
        <button styleSheetFile="assets/styleForPrint.css" printSectionId="printable-section" ngxPrint>Print</button>
      </div>
    </div>
    <br>
    <!-- <button styleSheetFile="assets/style.css" printSectionId="printable-section" ngxPrint>Print</button><br> -->
  </div>
    <div class="report-container" id="printable-section" #exportedDiv>
      <div class="top-section">
        <!-- Image and title -->
        <div class="image-and-title">
          <img *ngIf="logoDataURL" [src]="logoDataURL" alt="Report Logo" class="report-logo" />
          <p *ngIf="!logoDataURL">No Logo</p>
          <h1 style="cursor: pointer;" [ngStyle]="applyStyle(selectedReportId, titleData?.dataID)">
            {{reportTitle}}
          </h1>
        </div>
        <!-- Current date/time -->
        <div class="date-time">
          <p>{{ currentDateTime | date: 'longDate' }}</p>
          <p>{{ currentDateTime | date: 'mediumTime' }}</p>
        </div>
      </div>
        <!-- Body Section -->
      <div *ngIf="tableHeaders.length > 0">
        <div class="table-container">
          <!-- Include the table rendering code here -->
          <table class="tbl-data">
            <thead>
              <tr>
                <!-- Include table headers here -->
                <th *ngFor="let header of tableHeaders; let z = index"
                  [ngStyle]="applyStyle(header.reportID, header.dataID)">
                  <div class="table-header">{{ header.cellValue }}</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rowData of tableData; let i = index">
                <script>console.log(rowData);</script>
                <!-- Include table cells here -->
                <td *ngFor="let cell of rowData; let j = index" class="cell-content"
                  [ngStyle]="applyStyle(cell.reportID, cell.dataID)" [attr.data-row]="i" [attr.data-col]="j">
                  {{ cell.cellValue }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Bottom Section (Footer) -->
      <div class="bottom-section">
        <!-- Add footer content here if needed -->
        Footer Content here
      </div>
      </div>
</div>