.print-preview-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 0 10px;
  height: 100vh;
  max-height: calc(100vh - 100px); /* Adjust as needed */
  overflow: auto !important;
  flex-grow: 1;
}

.no-print-prev{
  padding: 50px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.report-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  /* padding: 0 10px; */
  min-height: 900px;
}

.report-logo{
  margin-right: 15px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #000;
}

.body-section{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.table-container{
  flex-grow: 1;
}

.bottom-section{
  border-top: 1px solid #000;
  margin-top: auto;
  width: 100%;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 0 20px 0;
  text-align: center;
}

.foo-text{
  width: 100%;
  text-align: center;
  border: 0;
}

h2,
h3 {
  margin-top: 20px;
}

.image-and-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.image-and-title img {
  max-width: 100px; /* Adjust image width as needed */
  text-align: center;
}

.date-time{
  padding: 10px;
  font-size: 16px;
}

.column-header {
  height: 30px; /* Adjust as needed */
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: Cambria;
}

.table-header {
  padding: 3px;
}

.column-headers {
  display: flex;
}

.row-header {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  font-family: Cambria;
}

.cell-content {
  padding: 5px;
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.tbl-data {
  margin: 10px;
}


.top-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0; /* Light background color */
  border-bottom: 1px solid #ccc; /* Subtle border */
}

/* .top-toolbar .export-dropdown {
  margin-left: auto; /* Pushes the export-dropdown to the right 
} */

.top-toolbar button {
  padding: 6px 6px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.top-toolbar button:hover {
  background-color: #ddd; /* Darker background on hover */
}

.top-toolbar button:active {
  background-color: #ccc; /* Slightly darker background when pressed */
}

.top-toolbar button:first-child {
  margin-right: 10px;
}

/* Export button  */

.export-dropdown {
  position: relative;
  display: inline-block;
}

.export-button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.export-dropdown-content {
  display: none;
  align-items: center !important;
  position: absolute;
  background-color: #fff;
  min-width: 100px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.export-dropdown-content button {
  display: block;
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.export-dropdown-content button:hover {
  background-color: #f9f9f9;
}

.export-dropdown:hover .export-dropdown-content {
  display: block;
}

.export-dropdown:hover .export-button {
  background-color: #ddd;
}
