.data-toolbar-container {
  height: 100vh;
  margin: 0 auto;
  max-height: calc(100vh - 100px); /* Adjust as needed */
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.dt-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  transition: all 0.3s;
}

.no-rep-selected {
  padding: 50px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.dt-btn:hover {
  background-color: #284976;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.input-group {
  padding: 10px 20px;
}

.input-wrapper {
  margin: 10px 10px;
}

.input-label {
  font-size: 14px; /* Increase font size for better readability */
  font-family: Arial;
  text-align: center;
}

.text-input {
  padding: 10px;
  margin-top: 5px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out; /* Add simple transition for focus */
}

.text-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

.number-input{
  width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 4px;
}

.checkbox-input {
  margin-top: 5px;
}

.select-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.radio-wrapper {
  margin-right: 10px;
}

.color-input {
  appearance: none;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%; /* Make the color input round */
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Add simple hover animation */
}

.color-input:hover {
  transform: scale(1.1); /* Scale up on hover */
}

.color-preview {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

/* Table styles */
table {
  width: 90%;
  position: inherit;
  border-collapse: collapse;
}

td {
  padding: 5px;
  /* border: 1px solid #ccc; */
}

th {
  padding: 5px;
  /* border: 1px solid #ccc; */
  background-color: #f0f0f0;
}
