<!-- database-info.component.html -->
<div class="db-container">
  <div *ngIf="databaseInfo && databaseInfo.databases.length > 0">
    <h3>Databases</h3>
    <!-- <div *ngFor="let database of databaseInfo.databases"> --><div>
      <!-- <h4><span class="material-icons">dataset</span> {{ database.name }}</h4> -->
      <div class="table-list">
        <!-- <div *ngFor="let table of database.tables"> --><div *ngFor="let report of reports">
          <div class="table-name-container">
            <h5>
              <!-- <span class="material-icons">table_chart</span> {{ table.name }} -->
              {{ report.title }}
            </h5>
            <button class="view-button" (click)="openPopup(report.title, report.reportID)">
              View
            </button>
          </div>
          <!-- <table>
            <thead>
              <tr>
                <th *ngFor="let column of table.data[0] | keyvalue">
                  {{ column.key }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of table.data">
                <td *ngFor="let cell of row | keyvalue">{{ cell.value }}</td>
              </tr>
            </tbody>
          </table> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Popup Section -->
  <div class="popup-overlay" *ngIf="showPopup">
    <div class="popup">
      <div class="popup-header">
        <h3>{{ popupTitle }}</h3>
        <button class="material-icons-round close-button" (click)="closePopup()">close</button>
      </div>
      <table>
        <thead>
          <tr>
            <th *ngFor="let column of popupData[0] | keyvalue">
              {{ column.key }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of popupData">
            <td *ngFor="let cell of row | keyvalue">{{ cell.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>