<!-- navigation-panel.component.html -->
<div class="db-container">

  <!-- Search Section -->
  <div class="search-container">
    <input type="text" placeholder="Search reports" [(ngModel)]="searchTerm" (ngModelChange)="handleSearchChange()">
  </div>

  <!-- Search Results Section -->
  <div *ngIf="isSearching">
    <h3>Search Results</h3>
    <div *ngIf="searchResults && searchResults.length > 0">
      <div class="table-list">
        <div *ngFor="let report of searchResults">
          <div class="table-name-container">
            <h5>{{ report.title }}</h5>
            <div class="dropdown">
              <button class="dropdown-btn material-icons">arrow_drop_down_circle</button>
              <div class="dropdown-content">
                <button (click)="openPopup(report.title, report.reportID, 'view-report')">View Details</button>
                <button (click)="openPopup(report.title, report.reportID, 'view-report-data')">View Data</button>
                <button (click)="openPopup(report.title, report.reportID, 'edit-report')">Edit</button>
              </div>
            </div>
            <!-- <button class="view-button" (click)="openPopup(report.title, report.reportID)">View</button> -->
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="searchResults && searchResults.length === 0">
      <p>No reports found.</p>
    </div>
  </div>

  <!-- Existing Report Titles Section -->
  <div *ngIf="!isSearching && databaseInfo && databaseInfo.databases.length > 0">
    <h3>Reports</h3>
    <div>
      <div class="table-list">
        <div *ngFor="let report of reports">
          <div class="table-name-container">
            <h5>
              {{ report.title }}
            </h5>
            <div class="dropdown">
              <button class="dropdown-btn material-icons">arrow_drop_down_circle</button>
              <div class="dropdown-content">
                <button (click)="openPopup(report.title, report.reportID, 'view-report')">View Details</button>
                <button (click)="openPopup(report.title, report.reportID, 'view-report-data')">View Data</button>
                <button (click)="openPopup(report.title, report.reportID, 'edit-report')">Edit</button>
              </div>
            </div>
            <!-- <button class="view-button" (click)="openPopup(report.title, report.reportID)">
              View
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Popup Section -->
  <div class="popup-overlay" *ngIf="showPopup || showEditPopup">
    <div class="popup">
      <div class="popup-header">
        <h3>{{ popupTitle }}</h3>
        <button class="material-icons-round close-button" (click)="closePopup()">close</button>
      </div>
      <ng-container *ngIf="!showEditPopup; else editForm">
      <table>
        <thead>
          <tr>
            <th *ngFor="let column of popupData[0] | keyvalue">
              {{ column.key }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of popupData">
            <td *ngFor="let cell of row | keyvalue">{{ cell.value }}</td>
          </tr>
        </tbody>
      </table>
      <!-- <button class="edit-button" (click)="showEditForm()">Edit</button> -->
    </ng-container>
    <ng-template #editForm>
      <div class="edit-form-container">
      <form (submit)="submitEdit()">
        <label>Title</label>
        <input type="text" [(ngModel)]="editingReport.title" name="title"><br>
        <label>Logo Image</label>
        <img *ngIf="currentLogoImage" [src]="currentLogoImage" alt="Current Logo Image" style="max-width: 200px;"><br>
        <label for="newLogo">New Logo Image</label>
        <input type="file" id="newLogo" (change)="onFileSelected($event)"><br>
        <!-- Input for logo image, you can customize this based on your requirements -->
        <button type="submit">Save</button>
      </form>
    </div>
    </ng-template>
    </div>
  </div>
</div>