<div class="design-view-container">
  <div class="formatting-toolbar">
    <div class="button-container">
      <button class="material-icons menu-icon icon-bold format-button" title="Bold" (click)="toggleFormat('bold')">
        format_bold
      </button>
      <button class="material-icons menu-icon icon-italic format-button" title="Italic"
        (click)="toggleFormat('italic')">
        format_italic
      </button>
      <button class="material-icons menu-icon icon-underline format-button" title="Underline"
        (click)="toggleFormat('underline')">
        format_underline
      </button>
      <button class="material-icons menu-icon icon-strikethrough format-button" title="Strike-through"
        (click)="toggleFormat('strikethrough')">
        format_strikethrough
      </button>
      <button class="material-icons menu-icon icon-remove-format format-button" title="Clear Formatting"
        (click)="removeFormatting()">
        format_clear
      </button>
    </div>

    <div class="font-dropdowns" title="Font Size">
      <select class="select-box" #fontSizeSelect (change)="changeFontSize(fontSizeSelect.value)">
        <option value="10px">10px</option>
        <option value="12px">12px</option>
        <option value="14px">14px</option>
        <option value="16px">16px</option>
        <option value="18px">18px</option>
        <option value="20px">20px</option>
        <option value="24px">24px</option>
        <option value="32px">32px</option>
        <option value="48px">48px</option>
        <option value="56px">56px</option>
        <option value="64px">64px</option>
        <option value="72px">72px</option>
        <option value="84px">84px</option>
        <option value="96px">96px</option>
        <!-- Add more font sizes as needed -->
      </select>

      <select class="select-box" title="Font Family" #fontFamilySelect
        (change)="changeFontFamily(fontFamilySelect.value)">
        <option value="Arial" style="font-family: Arial">Arial</option>
        <option value="'Brush Script MT', cursive" style="font-family: Brush Script MT">
          Brush Script MT
        </option>
        <option value="Calibri" style="font-family: Calibri">Calibri</option>
        <option value="Cambria" style="font-family: Cambria">Cambria</option>
        <option value="Comic Sans MS" style="font-family: Comic Sans MS">
          Comic Sans MS
        </option>
        <option value="Courier New" style="font-family: Courier New">
          Courier New
        </option>
        <option value="Franklin Gothic" style="font-family: Franklin Gothic">
          Franklin Gothic
        </option>
        <option value="Garamond" style="font-family: Garamond">Garamond</option>
        <option value="Georgia" style="font-family: Georgia">Georgia</option>
        <option value="Goudy Old Style" style="font-family: Goudy Old Style">
          Goudy Old Style
        </option>
        <option value="Helvetica" style="font-family: Helvetica">
          Helvetica
        </option>
        <option value="Impact" style="font-family: Impact">Impact</option>
        <option value="Microsoft Sans Serif" style="font-family: Microsoft Sans Serif">
          MS Sans Serif
        </option>
        <option value="Perpetua" style="font-family: Perpetua">Perpetua</option>
        <option value="Rockwell" style="font-family: Rockwell">Rockwell</option>
        <option value="Tahoma" style="font-family: Tahoma">Tahoma</option>
        <option value="Times New Roman" style="font-family: Times New Roman">
          Times New Roman
        </option>
        <option value="Verdana" style="font-family: Verdana">Verdana</option>
        <!-- Add more font families as needed -->
      </select>
    </div>

    <div class="color-container">
      <label for="text-color-input" class="color-label">Text Color:</label>
      <input id="text-color-input" title="Font Color" type="color" class="custom-color-input"
        (input)="changeTextColor($any($event.target).value)" />

      <label for="background-color-input" class="color-label">Background Color:</label>
      <input id="background-color-input" title="Background Color" type="color" class="custom-color-input"
        (input)="changeBackgroundColor($any($event.target).value)" />
    </div>
    <button (click)="reloadDbData()" class="material-icons-outlined reload_btn" title="Reload Data">change_circle</button>
  </div>

  <div class="edit-container" #editableDiv>
    <div class="report-container">
      <div class="top-section">
        <!-- Image and title -->
        <div class="image-and-title">
          <img src="https://www.adaptivewfs.com/wp-content/uploads/2020/07/logo-placeholder-image.png" alt="Image">
          <h1>Title</h1>
        </div>
        <!-- Current date/time -->
        <div class="date-time">
          <p>{{currentDate}}</p>
          <p>{{currentTime}}</p>
        </div>
      </div>
      <div class="table-container">
        <ng-container *ngFor="let db of databaseInfo.databases">
          <h2>{{ db.name }}</h2>
          <ng-container *ngFor="let table of db.tables">
            <h3>{{ table.name }}</h3>
            <table class="tbl-data">
              <thead>
                <tr>
                  <th></th>
                  <th *ngFor="
                      let header of table.data[0] | keyvalue;
                      let i = index
                    " (click)="
                      toggleCellSelection(
                        'column-header' + '|' + i,
                        db.name + '|' + table.name + '|' + header.key
                      )
                    ">
                    <div class="column-header">{{ getColumnHeader(i) }}</div>
                  </th>
                </tr>
                <tr>
                  <th></th>
                  <!-- Empty cell for numbering columns -->
                  <th *ngFor="
                      let header of table.data[0] | keyvalue;
                      let z = index
                    " (click)="
                      toggleCellSelection(
                        -1,
                        db.name + '-' + table.name + '-' + header.key
                      )
                    " [ngClass]="{
                      'selected-cell': isSelected(
                        -1,
                        db.name + '-' + table.name + '-' + header.key
                      )
                    }" [ngStyle]="
                      applyStyle(
                        -1,
                        db.name + '-' + table.name + '-' + header.key
                      )
                    ">
                    <div class="table-header">{{ header.key }}</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of table.data; let i = index">
                  <td class="row-header" (click)="
                      toggleCellSelection(
                        'row-header' + '|' + i,
                        db.name + '|' + table.name
                      )
                    ">
                    {{ i + 1 }}
                  </td>
                  <td *ngFor="let cell of row | keyvalue; let j = index" (click)="
                      toggleCellSelection(
                        i,
                        db.name + '-' + table.name + '-' + j
                      )
                    " [ngClass]="{
                      'selected-cell': isSelected(
                        i,
                        db.name + '-' + table.name + '-' + j
                      )
                    }" [ngStyle]="
                      applyStyle(i, db.name + '-' + table.name + '-' + j)
                    " class="cell-content" [attr.data-row]="i" [attr.data-col]="cell.key">
                    {{ cell.value }}
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- <div class="edit-container" #editableDiv> -->
  <!-- Default size is 16px in this currently-->
  <!-- <div class="table-container"> -->
  <!-- <table class="tbl-data"> -->
  <!-- <thead> -->
  <!-- <tr> -->
  <!-- <th (click)="toggleCellSelection(-2, 'row-header')"></th> -->
  <!-- Empty cell for numbering columns -->
  <!-- <th *ngFor="let header of tableHeaders; let i = index" class="col-names" -->
  <!-- (click)="toggleCellSelection(-2, header)"> -->
  <!-- <div class="column-header">{{ getColumnHeader(i) }}</div> -->
  <!-- </th> -->
  <!-- </tr> -->
  <!-- <tr> -->
  <!-- <th></th> -->
  <!-- Empty cell for numbering columns -->

  <!-- <th *ngFor="let header of tableHeaders; let i = index" (click)="toggleCellSelection(-1, header)" -->
  <!-- [ngClass]="{ 'selected-cell': isSelected(-1, header) }" [ngStyle]="applyStyle(-1, header)"> -->
  <!-- <div class="table-header">{{ header }}</div> -->
  <!-- Show original table header -->
  <!-- </th> -->
  <!-- </tr> -->
  <!-- </thead> -->
  <!-- <tbody> -->
  <!-- <tr *ngFor="let item of databaseInfo; let i = index"> -->
  <!-- <td class="row-header" (click)="toggleCellSelection(i, 'row-header')"> -->
  <!-- {{ i + 1 }} -->
  <!-- </td> -->
  <!-- Display row numbers (1-based index) -->
  <!-- <td *ngFor="let header of tableHeaders; let j = index" (click)="toggleCellSelection(i, header)" -->
  <!-- [ngClass]="{ 'selected-cell': isSelected(i, header) }" [ngStyle]="applyStyle(i, header)" -->
  <!-- class="cell-content" [attr.data-row]="i" [attr.data-col]="header"> -->
  <!-- {{ item[header] }} -->
  <!-- </td> -->
  <!-- </tr> -->
  <!-- </tbody> -->
  <!-- </table> -->
  <!-- </div> -->
  <!-- </div> -->
</div>