.design-view-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 2px 10px;
  height: 100vh;
  max-height: calc(100vh - 100px); /* Adjust as needed */
  overflow: auto;
}

.selected-cell {
  /* background-color: #cceeff;  */
  /* Light blue background color */
  outline: 2px solid #0078d4; /* Blue border */
}

.edit-container {
  flex-grow: 1;
  max-width: 100%;
  overflow: auto;
}

.report-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  /* width: calc(100% - 40px); */
  /* padding: 20px; */
  min-height: 900px;
  border: 1px solid black;
}

.report-logo {
  margin-right: 15px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
  padding: 20px;
  border-bottom: 1px solid #000;
}

.body-section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding: 50px 0;
}

.table-container {
  flex-grow: 1;
  overflow: auto;
}

.bottom-section {
  border-top: 1px solid #000;
  margin-top: auto;
  width: 100%;
  flex: 0 0 auto;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 0 10px 0;
  text-align: center;
}

.foo-text {
  width: 100%;
  text-align: center;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0);
}

h2,
h3 {
  margin-top: 20px;
}

.image-and-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.image-and-title img {
  max-width: 100px; /* Adjust image width as needed */
  text-align: center;
}

.date-time {
  padding: 10px;
  font-size: 16px;
}

.column-header {
  height: 30px; /* Adjust as needed */
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  color: darkblue;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: Cambria;
}

.table-header {
  padding: 3px;
}

.column-headers {
  display: flex;
}

.row-header {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: darkblue;
  font-family: Cambria;
}

.selector-btns {
  cursor: pointer;
  font-size: 30px;
  color: darkblue;
}

.cell-content {
  padding: 5px;
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid black;
}

.tbl-data {
  margin: 10px;
}

.formatting-toolbar {
  display: flex;
  justify-content: space-between; /* Space elements evenly */
  align-items: center;
  padding: 6px;
  background-color: #f8f9fa; /* Light gray background */
  border-bottom: 1px solid #ccc; /* Light border */
}

/* .formatting-toolbar {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ccc;
} */

.button-container {
  margin-right: 10px;
}

.format-button {
  padding: 8px 16px;
  margin-right: 6px;
  background-color: #0078d4; /* Microsoft blue */
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.format-button:hover {
  background-color: #284976; /* Darker blue on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.color-container {
  align-items: center;
}

.color-label {
  margin: 0 6px;
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.custom-color-input {
  appearance: none;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-right: 5px;
  cursor: pointer;
  background-color: transparent;
}

.custom-color-input:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.select-box {
  padding: 6px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.select-box:focus {
  outline: none;
}

.select-box:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Optionally, you can style the font family select box separately for better visual separation */
.font-family-select-box {
  margin-right: 20px;
}

.save_btn {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 40%;
  background-color: #f8f9fa;
  font-size: 34px;
  cursor: pointer;
}

.save_btn:hover {
  box-shadow: 0 2px 4px rgba(0.2, 0.2, 0.2, 0.2);
}

/* CSS for Report Wizard */
.report-wizard-popup {
  position: fixed;
  font-family: Roboto, sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; /* Ensure the popup appears on top of other content */
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.popup-content label {
  /* Add margin below each label */
  margin-bottom: 10px;
  font-size: 16px;
}

.popup-content input[type="text"],
.popup-content input[type="file"],
.popup-content select {
  /* Add margin below each input */
  margin-bottom: 10px;
  font-size: 16px;
  /* Increase padding for better spacing within inputs */
  padding: 10px;
  /* Ensure inputs fill the width of the container */
  width: 80%;
  /* Add border and border-radius for a consistent look */
  border: 1px solid #ccc;
  border-radius: 10px;
}

.dv-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 60px auto;
  transition: all 0.3s;
}

.dv-btn:hover {
  background-color: #284976;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

/* Ensure the popup is visible when showReportWizard is true */
.report-wizard-popup.ng-enter,
.report-wizard-popup.ng-leave {
  transition: opacity 0.5s;
}

.report-wizard-popup.ng-enter {
  opacity: 0;
}

.report-wizard-popup.ng-enter.ng-enter-active {
  opacity: 1;
}

.report-wizard-popup.ng-leave {
  opacity: 1;
}

.report-wizard-popup.ng-leave.ng-leave-active {
  opacity: 0;
}

.report-modal-title {
  font-family: Roboto, sans-serif;
  font-size: 24px;
}

/* For Search Results */

/* CSS for Search Textbox */
.search-container {
  margin-bottom: 10px;
}

.search-results-container {
  max-height: 200px;
  overflow-y: auto;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.search-results-container button{
  font-size: 14px;
}

.search-results-header {
  font-family: Roboto, sans-serif;
  margin-top: 0;
  font-size: 18px;
  color: #333; /* Set text color */
}

.search-container input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.search-container input[type="text"]:focus {
  border-color: #007bff; /* Highlight border color on focus */
}

/* CSS for Report Dropdown */
#selectReportDropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

#selectReportDropdown:focus {
  border: 2px solid;
  outline: none;
  border-color: #007bff; /* Highlight border color on focus */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* Style for dropdown options */
#selectReportDropdown option {
  padding: 10px;
  font-size: 16px;
  background-color: white;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#selectReportDropdown option:hover {
  background-color: #f0f8ff; /* Light blue background on hover */
}

.report-list {
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  max-height: 200px;
  margin-left: 10px; /* Adjust spacing */
  list-style: none; /* Remove default list styles */
  padding: 0;
}

.report-item {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.report-item:last-child {
  border-bottom: none; /* Remove border from the last item */
}

.report-item:hover {
  background-color: #f0f8ff; /* Light blue background on hover */
}

.report-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

.report-actions {
  display: flex;
  align-items: center;
}

.report-actions button {
  padding: 10px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Blue button background */
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Smooth transition for button background color */
}

.report-actions button:hover {
  background-color: #284976; /* Darker blue button background on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.report-form-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.report-form-btn-container button {
  padding: 10px 20px;
  margin: 0 10px;
  font-family: Roboto, sans-serif;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.report-form-btn-container .sub-btn:hover {
  background-color: #284976; /* Darker blue on hover */
  color: white;
}

/* Cancel Button */
.report-form-btn-container .cancel-btn:hover {
  background-color: #ff3131; /* Darker blue on hover */
  color: white;
}

/* No Reports Found Message */
.no-reports-message {
  margin-top: 20px;
  text-align: center;
  color: #999; /* Light gray text color */
}

.search-results-container p{
  font-size: 16px;
}