<div class="status-bar-content">
    <div class="view-name">
      {{ viewName }}
    </div>
    <!-- <span>Current Date: {{ currentDateTime }}</span> -->
    <div class="view-buttons-section">
      <span [style]="'margin-right: 10px'">{{ currentDateTime }}</span>
      <!-- <div class="views-btn" (click)="updateViewName(viewNameArr[0])">B1</div>
      <div class="views-btn" (click)="updateViewName(viewNameArr[1])">B2</div>
      <div class="views-btn" (click)="updateViewName(viewNameArr[2])">B3</div>
      <div class="views-btn" (click)="updateViewName(viewNameArr[3])">B4</div> -->
    </div>
  </div>