/* You can add global styles to this file, and also import other style files */

@import '../node_modules/material-icons/iconfont/material-icons.css';

/* @import '../node_modules/font-awesome/css/font-awesome.css'; */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* *{
  color-adjust: exact;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
} */

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0 !important;
}
