<main class="container">
  <div class="title-bar">Report Designer</div>
  <section class="ribbon-section">
    <app-ribbon></app-ribbon>
  </section>
  <div class="middle-section">
    <section class="navigation-panel-section">
      <app-navigation-panel></app-navigation-panel>
    </section>
    <section class="work-area-section">
      <router-outlet></router-outlet>
      <!-- <ng-container *ngIf="currentComponent === 'design-view'">
        <app-design-view></app-design-view>
      </ng-container>
      <ng-container *ngIf="currentComponent === 'print-preview'">
        <app-print-preview></app-print-preview>
      </ng-container> -->
    </section>
    <section class="property-sheet-section">
      <app-data-toolbar></app-data-toolbar>
    </section>
  </div>

  <section class="status-bar-section">
    <app-status-bar></app-status-bar>
  </section>
</main>